
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/css/index.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section>
    <div class="slider-container">
        <div class="slider">
			<img src="https://concorecdn.jollytur.com/concore/media/departman-slider/kultur/tur/2023/7-250523.jpg">
			<img src="https://www.istyatur.com/assets/frontend/img/duyurular/ekstra-turlar-dahil-maxi-italya-turu-699-euro-dan-baslayan-fiyatlarla-1693989475-850x447.jpg">
            <img src="https://concorecdn.jollytur.com/concore/media/departman-slider/yurtdisi/tur/2023/3-250523.jpg">
			<img src="https://concorecdn.jollytur.com/concore/media/yurtdisi-slide-banner/yurtdisi-2022/YURT-DISI-TUR-SLIDER1-V%C4%B0ZES%C4%B0Z-130522.jpg" />
            <img src="https://concorecdn.jollytur.com/concore/media/yurtdisi-slide-banner/05022022-2Balkanlar.jpg" />
        </div>
        <button class="prev-button">Previous</button>
        <button class="next-button">Next</button>
    </div>
    <script src="/js/index.js"></script>




    <div class="featured-section">
        <h2>Popüler Tatil Seçenekleri</h2>
        <div class="featured-items">
            <div class="featured-item">
                <img src="https://ucdn.tatilbudur.net/tur/gunubirlik-golyazi-saitabat-cumalikizik-turu/400x300/435456.jpg">
                <h3>Cumalıkızık-Bursa</h3>
                <p>
                    Cumalıkızık, Bursa'ya ait bir Osmanlı köyüdür. Tarihi eserleriyle eski evleriyle yerli ve yabancı 
                    misafirlerimizin ilgisini çekmektedir.
                </p>
            </div>
            <div class="featured-item">
                <img src="https://tatilmaps.com.tr/images/turlar/resized_16241712_unnamed.jpg">
                <h3>Doğu Karadeniz Turu</h3>
                <p>Doğasıyla,manzarasıyla ve yayla havasıyla yerli ve yabancı misafirlerimizi büyülemektedir. </p>
            </div>
            <div class="featured-item">
                <img src="https://d2oa8gu31l4qdv.cloudfront.net/banner/doc/f0cb4312c6d197abb59f006427707241-61ceb6e26ff41.jpeg">
                <h3>Sapanca Turu</h3>
                <p>
                   Hafta sonu yakın mesafe ve misafirlerimizin sessiz,sakin ve doğayla iç içe olacağı bir ortam.
                </p>
            </div>
        </div>
    </div>
    

</section>



